
body{
    background-color:#90A955;
}

@font-face {
    font-family:silkscreen;
    src: url(Silkscreen-Regular.ttf);
}

@font-face{
    font-family:silkscreen;
    src:url(Silkscreen-Regular.ttf);
}

h1,h2,h4,h6{
    font-family:silkscreen;
    color:#558c2c;
}

h3, h5{
    font-family: silkscreen;
    color:#41701f;
}

h1{
    font-size:50px;
}

p, li{
    font-family:silkscreen;
    color:#41701f;
    font-size:19px;
}

h3{
    font-size:20px;
}

h5{
    font-size:19px;
}

body{
    margin:20px;
    padding: 20px;
}

#seal, #cat{
    width:300px;
    height:300px;
    padding-top: 10px;
    padding-right: 10px;
    opacity: 100%;
    border-style:dashed;
    border-color: #5a6e09;
}

.paper{
    width:250px;
}

#cat{
    filter:contrast(10%);
    animation: catAnimation 3s forwards;
}

#seal{
    opacity:0.50;
    animation: sealAnimation 3s forwards;
}

table, th, td {
  border:3px solid rgb(37, 94, 10);
  font-family:silkscreen;
  color:#266b0b;
}

@keyframes catAnimation{
    from {
        filter: contrast(10%);
    }
    
    to {
        filter: contrast(150%);
    }
}

@keyframes sealAnimation{
    from{
        opacity:0.50;
    }

    to{
        opacity:1;
    }
}
